body{
	font-family: Arial, Helvetica, sans-serif;
	color:black;
}
table {
	 font-size: 13px;
     border: none;
     width :98%;
     border-collapse: collapse;
     border-collapse:separate; 
     border-spacing:0 7px; 

     }

tr{  background-color: #ffffff;
     margin: 10px;
     border: 1px solid lightgrey;

     }


td{
      border: none;
      text-align: left;
       border-collapse: collapse;
    border-bottom: 1px solid lightgrey;

       height: 40px;
       padding: 0px;
     }

  #org{
  	 color:#33cc00;
  }
 #header{

 	border: 1px solid lightgrey;
 	padding: 10px;
 	font-size: 15px;
 	background-color: #ffffff;
 	 width :95%; 	
  align-self: center;
 	height :50px;
  margin-left: 200px:
  margin-right:20px;
  margin-top: -6px; 
 }
 #myBtn{
 	color : #ffffff;
 	background-color:#7CCF17;
 	height: 30px;
 	width:100px;
 	padding: 5px;
 }
 #addsear{
 	 padding: 10px;
   float: right;
 }
 #actinact{
 	padding: 10px;
 	float: left;
 }
  button{
  	background-color: #ffffff;
  	border:none;
  	outline: none;
  }


